<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="isw.grupo9">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delivery_Loquesea"
        tools:targetApi="31">
        <activity
            android:name="isw.grupo9.view.ConfirmacionActivity"
            android:exported="false" />
        <activity
            android:name="isw.grupo9.view.ResumenActivity"
            android:exported="false"
            android:parentActivityName="isw.grupo9.view.MedioPagoActivity" />
        <activity
            android:name="isw.grupo9.view.MedioPagoActivity"
            android:exported="false"
            android:parentActivityName="isw.grupo9.view.DomicilioEntregaActivity" />
        <activity
            android:name="isw.grupo9.view.DomicilioEntregaActivity"
            android:exported="false"
            android:parentActivityName="isw.grupo9.view.DescripcionPedidoActivity" />
        <activity
            android:name="isw.grupo9.view.DescripcionPedidoActivity"
            android:exported="false"
            android:parentActivityName="isw.grupo9.MainActivity" />
        <activity
            android:name="isw.grupo9.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>